
*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';font-size: 15px;
    font-size: 20px;
}

body{
    background-color: #ffffff;
    border-radius: 2%;
}

.header{
    background-color: #e6dcfdc9;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #412272;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #361357;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #7b5ceb98;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #296494;
    transform: scale(1.1);
}
/*-------------------Banner----------------------*/
.titulo11{
    margin-left: 20%;
    padding: 10%;
}
